# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/

# CubeMX
STM32L152-Discovery.elf.launch

**/.cproject
**/.project
**/.settings

# CLion
cmake-build-*/
build/
.idea/*

### Altium ###
# Previews Folders
**/__Previews/

# History Folders
**/History/*

# Project Logs
Project Logs*/

# Project Outputs
Project Outputs*/

# Auto-conversion notices
*.PcbDoc.htm

# Access lock file for dbLib sources
**/*.ldb
